@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

@keyframes move-in-left{
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateX(-1rem);
    }
}

@keyframes move-in-right{
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(-1rem);
    }
}

@keyframes move-in-top{
    0%{
        transform: translateY(-10rem);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(1rem);
    }
}


.container{
    max-width: 140rem;
    margin: 0 auto;
    position: relative;
    max-width: 120rem;

    @media only screen and (max-width: $bp-small){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

/* header */
nav{
    position: absolute;
    width: 100%;
    background-color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
    z-index: 200;
}

.header-img{
    width: 5%;
}

.header-lists{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-list{
    padding: 3rem;

    @media only screen and (max-width: $bp-smaller){
        padding: 1.5rem;
    }
}

.header-lists a:link,
.header-lists a:visited{
    text-decoration: none;
    color: var(--color-white);
    
}

.header-list:hover{
    color: var(--color-red) !important;
}

/* sticky  */
.sticky{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.98);
    z-index: 10;
}

.sticky .header-lists a:link,
.sticky .header-lists a:visited{
    text-decoration: none;
    color: var(--color-blue-light);
    
}

.btn{
    border-radius: .8rem;
    padding: 1rem 3rem;
    translate:  all 20s;
    background-color: var(--color-red);
    color: var(--color-grey-light);
    border: none;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .8);
    color: var(--color-blue);
    background-color: var(--color-grey-light);
}
/* sticky button */
.sticky .btn:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .8);
    color: var(--color-grey-light);
    background-color: var(--color-blue-light);
}

.btn:focus{
    outline: none;
    animation: pulsate 1s infinite;
}

.introduction{
    padding: 11.5rem 0;
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: aliceblue;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-small){
        padding: 5rem 0;
    }
}

.introduction-img{
    width: 76%;
    box-shadow:0 2px 4px rgba(37, 36, 36, 0.8);
    animation: move-in-right 2s ease-in-out;

    @media only screen and (max-width: $bp-smaller){
        width: 80%;
    }

}


.introduction-info{
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;

    @media only screen and (max-width: $bp-smaller){
        margin-left: 10rem;
    }

}
.introduction-name{
    color: var(--color-blue-light);
    animation: move-in-top 2s ease-out;
}

.introduction-position{
    font-size: 5.5rem;
    font-weight: 300;
    animation: move-in-left 2s ease-out;
    width: 90%;

    @media only screen and (max-width: $bp-largest){
        font-size: 6rem;
    }

    @media only screen and (max-width: $bp-large){
        font-size: 5rem;
    }

    @media only screen and (max-width: $bp-smaller){
        width: 60%;
        font-size: 4rem;
    }
}

.about{
    padding: 10rem  0;
    background-color: var(--color-blue);

    @media only screen and (max-width: $bp-small){
        padding: 6rem 0;
    }
}

.about-section{
    display: grid;
    grid-template-columns: 1fr 30%;

    @media only screen and (max-width: $bp-small){
        grid-template-columns: 1fr 20%;
    }
    
}

.about-icons{
    @media only screen and (max-width: $bp-largest){
        display: flex;
        justify-content: center;
    }
    
}
.about-icons-box{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
    @media only screen and (max-width: $bp-largest){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

.digital-icons{
    box-sizing: content-box;
    width: 5rem;
    height: 5rem;;
    padding: 7rem 2rem;

    @media only screen and (max-width: $bp-largest){
        padding: 2rem 1.5rem;
    }

    @media only screen and (max-width: $bp-small){
        width: 3rem;
        height: 3rem;
    }
    

}
.about-info{
    color: var(--color-grey-light);
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-smaller){
        margin-left: 5rem;
    }
}
.navbar{
    color: var(--color-pink-light);
    font-weight: 600;
}

.aboutcontents{
    font-size: 5.5rem;
    font-weight: 300;
    margin: 5rem 8rem 5rem 0;
    font-weight: 300;
    
    @media only screen and (max-width: $bp-small){
        margin: 3rem 6rem 3rem 0;
        font-size: 4.5rem;
    }
}

.aboutcontents2{
    font-size: 2rem;
    margin-right: 8rem;

    @media only screen and (max-width: $bp-small){
        font-size: 1.5rem;
    }
}

.portfolio{
    padding: 10rem 0 0 0;

    @media only screen and (max-width: $bp-smaller){
        padding: 10rem 0 5rem 0;
    }
}

.portfolio-info{
    margin-left: 10rem;

    @media only screen and (max-width: $bp-smaller){
        margin-left: 5rem;
    }
}

.navbar-portfolio{
    color: var(--color-blue-light);
}

.portfolio-content{
    font-size: 5.5rem;
    margin: 5rem 0 0 0;
    font-weight: 300;

    @media only screen and (max-width: $bp-small){
        font-size: 4.5rem;
        margin-top: 3rem;
    }
}

.portfolio-img{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 8rem;

    @media only screen and (max-width: $bp-smaller){
        padding: 8rem 5rem 0 5rem;
    }
}

.portfolio-images{
    width: 100%;
}

.contactme{
    padding: 6rem 0 16rem 0;
    background-color: var(--color-grey-light);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-small){
        padding: 1rem 0 5rem 0;
    }

    @media only screen and (max-width: $bp-smaller){
        padding: 5px 0 3rem 0;
    }

    @media only screen and (max-width: $bp-little){
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}

.navbar-contact{
    color: var(--color-blue-light);
}

.contact-info{
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-smaller){
        margin-left: 5rem;
    }
}

.navbar1{
    font-size: 5.5rem;
    font-weight: 300;
    margin: 5rem 8rem 5rem 0;
    font-weight: 300;
    width: 60%;
    
    @media only screen and (max-width: $bp-small){
        font-size: 4.5rem;
        width: 80%;
        margin: 2rem 0;
    }

    
}

.navba2{
    font-size: 2rem;
    margin-right: 15rem;
    margin: 0 22rem 5rem 0;
    font-weight: 700;

    @media only screen and (max-width: $bp-small){
        font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-smaller){
        width: 80%;
    }
}

.contact-contact{
    list-style: none;
    font-size: 2rem;
    grid-column: 2 / 3;

    @media only screen and (max-width: $bp-small){
        font-size: 1.5rem;
    }    
}

.contact1:not(:last-child){
    margin-bottom: 2rem;
}

.info-icons{
    display: grid;
    grid-template-columns: 10% 1fr;
    position: relative;
}
.contact-icon{
    position: absolute;
    top: 0;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: .4rem;
}
.contact-icon-box{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-blue-light);

    @media only screen and (max-width: $bp-small){
        width: 1.8rem;
        height: 1.8rem;
    }
}

.contact-icon-box:not(:last-child){
    margin-bottom: 2.5rem;
}

.form{
    margin: 10rem 10rem 0 0;
    display: grid;
    grid-template-rows: repeat(3, 6rem) 1fr;
    grid-gap: 2.5rem;

    @media only screen and (max-width: $bp-small){
        grid-template-rows: repeat(3, 4rem) 1fr;
        grid-gap: 3.5rem;
    }

    @media only screen and (max-width: $bp-smaller){
        margin: 10rem 5rem 0 0;
        grid-template-rows: repeat(3, 2px) 1fr;
        grid-gap: 7rem;
    }

}

.address-input-icon{
    position: relative;

    & > *{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }
}



.address-input{
    border-radius: .8rem;
    border: none;
    padding: 2rem;
    color: rgba(0, 0, 0, .9);
    font-family: inherit;
    width: 100%;
    
}

.address-icon-box{
    margin-right: 1rem;
    margin-top: 2rem;
}

.address-input:focus{
    outline: none;
}
::-webkit-input-placeholder{
    color: rgba(0, 0, 0, .6);
    font-size: 1.4rem;
}

.address-icons{
    width: 2rem;
    height: 2rem;
    fill: var(--color-red);    
}

.button2{
    margin-top: 5rem;
    padding: 1.5rem 3.5rem;

    @media only screen and (max-width: $bp-small){
        margin-top: 1rem;
    }

    @media only screen and (max-width: $bp-smaller){
        margin-top: 2px;
    }

}

.button2:hover{
    color: var(--color-grey-light);
    background-color: var(--color-blue);
}

.footer{
    color: var(--color-grey-light);
    background-image: linear-gradient(to bottom, var(--color-blue), var(--color-blue-dark));
}
.footer-box{
    padding: 15rem 0;
    display: grid;
    grid-template-rows: 70% 1fr;
    grid-gap: 20rem;
   
    @media only screen and (max-width: $bp-small){
        width: 100%;
        padding: 10rem 0;
    }
}

.footer-row1{
    margin: 0 10rem;
    display: grid;
    grid-template-columns: 15% 1fr 15%;

    @media only screen and (max-width: $bp-small){
        grid-template-columns: 5% 1fr 5%;
    }
    
}


.footer-content{
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
    padding: 0 10rem;

    @media only screen and (max-width: $bp-small){
        font-size: 4.5rem;
        width: 100%;
    }
}
.footercontent2{
    font-size: 1.5rem;
    color: var(--color-pink-light);
}

.footer-image{
    width: 100%;

    @media only screen and (max-width: $bp-largest){
        width: 70%;
    }

    @media only screen and (max-width: $bp-large){
        width: 10rem;
    }
}
.footer-list{
    position: relative;
}

.footerlist{
    position: absolute;
    list-style: none;
    right: 0;
}
.footerlist li{
    
    margin-bottom: 2rem;
}

.footerlist a,
.footerlist a:link,
.footerlist a:visited{
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.footerlist a:hover,
.footerlist a:link:hover,
.footerlist a:visited:hover{
    color: var(--color-red);
}

.footer-row2{
    margin: 0 10rem;
    position: relative;
    display: flex;
}

.footer-top{
    text-decoration: none;
    color: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footertop{
    text-decoration: none;
    color: var(--color-grey-light);
}

.footer-top a:hover{
    color: var(--color-red);
}